
   

body{
    background: linear-gradient(to right, #eeccd1, #25ade7); /* Horizontal gradient from pink to orange */

}
#heading{
font-size: 300%;
color: rgb(209, 250, 250); 
}
#inp{
border-radius: 25px;
border: none;
height: 45px;
width: 400px;
margin-right: 25px;
outline: none;
}#btn{
 outline: none;
background-color:rgb(5, 248, 248);
height: 47px;
width: 100px;
border-radius: 25px;
border: none;
position: absolute;
right: 50px;
box-shadow:5px 5px 20px 2px rgb(70, 68, 68) ;
cursor: pointer;
}

#btn:hover{
    border: 2px solid rgb(5, 248, 248);
    background-color: white;/
}
#btn:active {
    border:5px solid  #176fd3;
    background-color: #176fd3;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(0.98); 
  }
#container{
    background: linear-gradient(to right, #2e39ca, #c4cdd1); /* Horizontal gradient from pink to orange */
    min-height: 300px;
     width: 500px;
      margin: 0 auto; 
     text-align: center;
     border-radius: 8px;
     box-shadow: 5px 5px 20px #5d656d
}
#jkl{
position: relative;
font-family: "Chewy", system-ui;
font-weight: 400;
}
  
ul{
    position: relative;
font-size: 30px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

li #motu:hover{
    color: red;
}
li #john:hover{
    color:white;
}
li>#john{
position: absolute;
right: 105px;  


}
li>#motu{
    position: absolute; 
    right: 50px;
    }
    ul{
        list-style-type: none;
        padding-left: 0px;
    }
    ul>li{
     text-align: start;
     margin-left: 40px;
        margin-top: 20px;

    }
        